<div class="row-fluid">
	<div class="span12">
		<p><strong>Description:</strong></p>
		<p><%= deal.description %></p>
	</div>
	<div class="span4">
		<p><strong>Name: </strong><%= deal.name %></p>
		<p><strong>Start: </strong><%= deal.dealstart.to_s(:long) %></p>
		<p><strong>End: </strong><%= deal.dealend.to_s(:long) %></p>
		<p><strong>Maximum Quantity: </strong><%= deal.maxquantity %></p>
		<p><strong>Base Price: </strong><%= deal.base_price %></p>
	</div>		
	<div class="span7">						
		<p><strong>Thresholds:</strong></p>
		<table class="table table-striped table-condensed">
			<thead>
				<th>Quantity</th>
				<th>Discount</th>
				<th>Price</th>
			</thead>
			<tbody>
				<% deal.deal_thresholds.each do |dt| %>
					<tr>
						<td><%= dt.quantity %></td>
						<td><%= dt.discount %>%</td>
						<td><%= dt.discount_price %></td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>