<div class="container">
	<div class="span6 offset3">
		<%= render 'shared/error_messages', :errors => @errors %>
		<%= form_tag @url do %>
			
			<%= label_tag "First Name" %>
			<%= text_field_tag :first_name %>

			<%= label_tag "Last Name" %>
			<%= text_field_tag :last_name %>

			<%= label_tag "Email Address" %>
			<%= email_field_tag :email %>

			<%= label_tag "Phone Number" %>
			<%= telephone_field_tag :phone %>

			<%= label_tag "Quantity" %>
			<%= number_field_tag :quantity,  1,  min: 1  %>

			<%= label_tag "Credit Card Number" %>
			<%= text_field_tag :card_number %>

			<%= label_tag "Credit Card Type" %>
			<%= collection_select '', :card_type, @card_types, :card_type, :card_description %>

			<%= label_tag "Expiration" %>
			<%= number_field_tag :expiration_month, 1, min: 1, max: 12 %>
			<%= number_field_tag :expiration_year, DateTime.now.year , min: DateTime.now.year %>

			<hr>
			<%= render 'follow_and_like' %>
			<p><%= check_box_tag :notification_optin %> Notify me of similar deals from other great merchants!</p>

			<%= submit_tag "Purchase", :class=>"btn btn-large btn-success" %>
		<% end %>
	</div>
</div>