<p><strong>Name: </strong><%= @merchant.name %></p>
<p><strong>Website: </strong><%= @merchant.website %></p>
<p><strong>Facebook: </strong><%= @merchant.facebook %></p>
<p><strong>Twitter: </strong><%= @merchant.twitter %></p>
<p><strong>Support Email: </strong><%= @merchant.support_email %></p>