<div class="span6 offset3" style="border:2px solid;border-radius:10px;border-color:<%= @deal.merchant.get_primary_color %>;padding:10px">
	<h3>Purchase Accepted!</h3>
	<p><strong>Name: </strong>  <%= @purchase.purchaser.firstname %> <%= @purchase.purchaser.lastname %> </p>
	<p><strong>Email: </strong> <%= @purchase.purchaser.email %>	</p>
	<p><strong>Phone: </strong>	<%= @purchase.purchaser.phone %> </p>
	<p><strong>Quantity:</strong> <%= @purchase.quantity %></p>
	<p>You will receive an email confirmation and your credit card will be charged once the deal closes.  Please contact us at <a href="mailto:<%= @deal.merchant.support_email %>"><%= @deal.merchant.support_email %></a> if you have any questions in the meantime.</p>

	<h5>Follow or Like to learn about more deals from <%= @deal.merchant.name %></h5>
	<%= render 'follow_and_like' %>
</div>